In [88]:
import re
import pandas as pd

In [89]:
tweet_file = pd.read_csv("tweets.csv", header = None)

In [90]:
tweet_file

                                0
0           @user1 Support Racism
1  @user2 Make racism wrong again
2      @user3 Do not discriminate
3             @user4 No to Racism
4        @user5 Racism down down!
5           @user6 White is great

In [91]:
# List of racial slurs
input_slurs = input("Enter name separated by space: ")
# Split string into words
list_of_slurs = input_slurs.split(" ")

Enter name separated by space: racism discriminate

In [92]:
list_of_slurs

['racism', 'discriminate']

In [93]:
#adding header
tweet_file = tweet_file.rename(columns={0: "Tweets"})

In [94]:
#splitting users 
tweet_file["User"] = tweet_file["Tweets"].apply(lambda x: [x for x in x.split(" ") if x.startswith("@")])
tweet_file["User"] = tweet_file["User"].apply(lambda x: str(x))

In [95]:
tweet_file["Tweets"] = tweet_file["Tweets"].apply(lambda x: [x for x in x.split(" ") ][1:])
tweet_file["Tweets"] = tweet_file["Tweets"].apply(lambda x: " ".join(x))

In [96]:
def search_slurs(x):     
    tmp_list = []
    for y in list_of_slurs: 
        if re.search(y, x, re.IGNORECASE) is not None:   
            tmp_list.append(y) 
        else: 
            pass
        another_tmp_list = []
        for item in tmp_list: 
            if len(item) == 0:
                pass 
            else:
                another_tmp_list.append(item)
            
            foul_words = ", ".join(another_tmp_list)
            return foul_words

In [97]:
tweet_file["Slur Words"] = tweet_file["Tweets"].apply(search_slurs)
tweet_file['Total Word Count'] = tweet_file['Tweets'].apply(lambda x: len(re.findall(r'\w+', x)))

In [98]:
tweet_file

                    Tweets        User    Slur Words  Total Word Count
0           Support Racism  ['@user1']        racism                 2
1  Make racism wrong again  ['@user2']        racism                 4
2      Do not discriminate  ['@user3']  discriminate                 3
3             No to Racism  ['@user4']        racism                 3
4        Racism down down!  ['@user5']        racism                 3
5           White is great  ['@user6']          None                 3

In [99]:
tweet_file['Slur Words'] = tweet_file['Slur Words'].astype(str)

In [100]:
tweet_file['Slurs Count'] = tweet_file['Slur Words'].apply(lambda x: len(re.findall(r'\w+', x)))

In [101]:
tweet_file["Deg. Profanity"] = tweet_file["Slurs Count"]/tweet_file["Total Word Count"]

In [102]:
tweet_file

,Tweets,User,Slur Words,Total Word Count,Slurs Count,Deg. Profanity
0,Support Racism,['@user1'],racism,2,1,0.500000
1,Make racism wrong again,['@user2'],racism,4,1,0.250000
2,Do not discriminate,['@user3'],discriminate,3,1,0.333333
3,No to Racism,['@user4'],racism,3,1,0.333333
4,Racism down down!,['@user5'],racism,3,1,0.333333
5,White is great,['@user6'],None,3,1,0.333333

In [103]:
tweet_file.to_csv(r"degree_of_profanity.csv", index=False)